<div class="tag-box inline">
             <h4><i class="fa fa-object-group ba" aria-hidden="true">&nbsp; &nbsp;Categories </i></h4>

       <li class="list-group-item"> 
       <a href="/archive"><b> All</b> <span class="badge">{{ site.posts | size }}</span></a>
      {% assign tags_list = site.categories %}  </li>

          {% for tag in tags_list %} 
            <li class="list-group-item s">
            &raquo; &nbsp;<a href="/{{ tag[0] }}">{{ tag[0] | capitalize }} <span class="badge"> {{ tag[1].size }} </span></a> </li>
          {% endfor %}
        
      {% assign tags_list = nil %}
      
      
      
      </div>


      <h4><i class="fa fa-youtube-play ba" aria-hidden="true">&nbsp;Nepali Doko</i> </h4>
Nepali Videos on Life, Travel and misc by lakshman
<br>
<div class="g-ytsubscribe" data-channelid="UCXTCCxpzilF0TO5c9TM86Gg" data-layout="full" data-count="default"></div>

<!--
<li class="list-group-item">
 <div class="youtube lazyload" data-embed="LxkWln6wX3I">
        <div class="play-button"></div></div>
        <a href="https://youtu.be/LxkWln6wX3I" target="blank">यसरी बनाउदैछ चाइनाले कोटेश्वर-कलन्की सडक ८ लेन</a>

</li>

<li class="list-group-item">
   <div class="youtube lazyload" data-embed="1cStUjjGXOs">
        <div class="play-button"></div></div>
        <h5><a href="https://youtu.be/1cStUjjGXOs" target="blank">Nepali Panche Baja | नेपाली पन्चेबाजा</a></h5>

    
</li>


<li class="list-group-item">
   <div class="youtube lazyload" data-embed="s8fyFTsdJpo">
        <div class="play-button"></div></div>
        <h5><a href="https://youtu.be/s8fyFTsdJpo" target="blank">Dog vs Monkey Fight I | Live Caught in Camera | Bajrayogini Temple Saankhu #5</a></h5>

    
 
</li>


<li class="list-group-item">
   <div class="youtube lazyload" data-embed="SfFqBniPqUU">
        <div class="play-button"></div></div>
        <h5><a href="https://youtu.be/s8fyFTsdJpo" target="blank">Children swimming in Bagmati river at Pashupatinath</a></h5>

    
 
</li>

<li class="list-group-item">
   <div class="youtube lazyload" data-embed="s_Yo8_6CjSU">
        <div class="play-button"></div>
  </div>
        <h5><a href="https://youtu.be/s8fyFTsdJpo" target="blank">ज्यानमारा टिपरमाथि आक्रोशित प्रत्यक्षदर्शीद्वारा आगजनी - स्कूटीमा सवार एकको टिपरले किचेर मृत्यु</a></h5>

    
 
</li>

      


<li class="list-group-item">
    <div class="youtube lazyload" data-embed="9585h0VPGpY">
        <div class="play-button"></div></div>
    
       <h5> <a href="https://youtu.be/s8fyFTsdJpo" target="blank">Snowfall in Kalinchowk, Dolakha</a></h5>
    

    
</li>


-->