
<nav class="navbar navbar-expand-lg navbar-light bg-light rounded">
        <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample09" aria-controls="navbarsExample09" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExample09">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
        <a class="nav-link" href="/knowledgeserverplus">YouTube</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/log">Log</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/archive">Posts</a>
      </li>


      
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Categories
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="/archive">All <span class="badge badge-dark">{{ site.posts | size }}</span></a>
          {% assign tags_list = site.categories %} 


          {% for tag in tags_list %} 
          
          <a class="dropdown-item" href="/{{ tag[0] }}">{{ tag[0] | capitalize }} <span class="badge badge-dark"> {{ tag[1].size }} </span></a>

          {% endfor %}

          {% assign tags_list = nil %}

              </div>
            </li>
          </ul>

        {% include search.html %}
          
        </div>



      </nav>
