<header class="site-header">

  <div class="wrapper">

    <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>

    <nav class="site-nav">
    

          <a class="page-link" href="/"><i class="fa fa-home fa-2x" aria-hidden="true"></i>
</a>
         
      
    </nav>




      
        <script>
  (function() {
    var cx = '016590255034786883878:_w4re-fqyn4';
    var gcse = document.createElement('script');
    gcse.type = 'text/javascript';
    gcse.async = true;
    gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(gcse, s);
  })();
</script>


  </div>

</header>

