<div id="sidebar-left" class="visible-md visible-lg visible-sm">



<div class="tag-box inline" style="margin-bottom: 40px;">
  <h4><i class="fa fa-bullhorn ba" aria-hidden="true"> &nbsp; Recent Posts </i></h4>

 



  {% for post in site.posts limit:6 %} 
   <li class="list-group-item">
  <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></li>
   
 {% endfor %}
 
</div>

<h4><i class="fa fa-youtube-play ba" aria-hidden="true">&nbsp;Knowledge Server Plus</i> </h4>
YouTube videos on Technology, How to, Tutorials and Concepts by lakshman
<br>
<div class="g-ytsubscribe" data-channelid="UC3cOZUVV5FZ5v3niIgSukMw" data-layout="full" data-count="default"></div>

<li class="list-group-item">

	<div class="youtube" data-embed="GAPSL6orbjg">
        <div class="play-button"></div></div>
        <a href="https://youtu.be/GAPSL6orbjg" target="blank">Onion Omega 2 First Setup Tutorial | IOT</a>

</li>

<li class="list-group-item">
	<div class="youtube" data-embed="pBMYyCqkY_g">
        <div class="play-button"></div></div>
        <a href="https://youtu.be/pBMYyCqkY_g" target="blank">Why do some rich people shoplift?</a>

</li>


<li class="list-group-item">

	<div class="youtube" data-embed="xHOX3TB1VHg">
        <div class="play-button"></div></div>
        <a href="https://youtu.be/xHOX3TB1VHg" target="blank">Using Samsung Gear 360 with iPhone - Connect, Control & Use Gear360 from iOS</a>

</li>


<li class="list-group-item">
	<div class="youtube" data-embed="_tzkF68ZjVE">
        <div class="play-button"></div></div>
        <a href="https://youtu.be/_tzkF68ZjVE" target="blank">Adding Custom Domain Name to Heroku app 2018</a>

</li>


<li class="list-group-item">
	<div class="youtube" data-embed="9_Wt0egJ-NA">
        <div class="play-button"></div></div>
        <a href="https://youtu.be/pBMYyCqkY_g" target="blank">Github Student Developer Pack</a>

</li>


<li class="list-group-item">
	<div class="youtube" data-embed="fGL7QskmXZA">
        <div class="play-button"></div></div>
        <a href="https://youtu.be/fGL7QskmXZA" target="blank">Creating your IGTV Channel</a>
</li>

<hr>
<h4><i class="fa fa-facebook ba" aria-hidden="true">&nbsp;Galkot</i> </h4>
I often post on this page to promote my hometown around the world.

<div class="fb-page" data-href="https://www.facebook.com/golkot" data-tabs="timeline" data-width="260" data-small-header="false" data-adapt-container-width="true" data-hide-cover="true" data-show-facepile="true"><blockquote cite="https://www.facebook.com/golkot" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/golkot">Galkot</a></blockquote></div>


</div>



