---
layout: compress
image: /assets/photo_2016-11-09_20-46-47.jpg
---


<!DOCTYPE html>
<html>
{% include head.html %}
{% include header.html %}
<br><br><br>
<div class="page-content">
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '2389938521319802',
      xfbml      : true,
      version    : 'v5.0'
    });
    FB.AppEvents.logPageView();
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "https://connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>
  {% include sidebar-left.html %}



      <!--  category for bigger screens -->
      <div id="sidebar" class="hidden-md visible-lg hidden-sm hidden-xs">
          {% include cat.html %}

      </div>

  
  <div class="wrapper">

      {{ content }}
  </div>


</div>

{% include footer.html %}

</html>