---
layout: default
---

<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-80349342-3', 'auto');
  ga('send', 'pageview');

</script>

<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v6.0&appId=2389938521319802&autoLogAppEvents=1"></script>





  <a name=post-top></a>

  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
    <p class="post-meta"><i class="fa fa-calendar" aria-hidden="true"></i>
<time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time> &nbsp;&nbsp; <span itemprop="name"><i class="fa fa-folder-open-o" aria-hidden="true"></i>
 {{ page.categories}}</span> 
    &nbsp;&nbsp;<i class="fa fa-clock-o" aria-hidden="true"></i>
{% assign words = content | number_of_words %}
{% if words < 360 %}
  1 min read
{% else %}
  {{ words | divided_by:180 }} min read
{% endif %}




  </header>

 <div class="fb-like" data-href class="post-link" href="{{ post.url | prepend: site.baseurl }}" {{ post.url }} data-width="300px" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true" >
  </div>




  <div class="post-content" itemprop="articleBody">
    <br>
    {{ content }}
 

  
 




<!--<div class="fb-like" data-href class="post-link" href="{{ post.url | prepend: site.baseurl }}" {{ post.url }} data-width="300px" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true" >
  </div>-->
<br>
 <hr>
<div class="row">
<div class="col-md-6"> 
Stay connected<br>
  <div class="fb-page" data-href="https://www.facebook.com/blog.lakshman" data-tabs="" data-width="" data-height="" data-small-header="true" data-adapt-container-width="true" data-hide-cover="true" data-show-facepile="true"><blockquote cite="https://www.facebook.com/blog.lakshman" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/blog.lakshman">lakshman's blog</a></blockquote></div>


</div>

<div class="col-md-6" style="text-align: right;">

<a href="#post-top">Scroll to top. &nbsp; <i class="fa fa-arrow-up" aria-hidden="true"></i></a>

</div>
</div>
      <br>
{% include disqus.html %}


<br>
<hr>
<h2 align="middle">

  Posts you might like
</h2><br>
    {% for post in site.posts %}
      {% if page.categories == post.categories %}
      {% if page.title != post.title %}


          
          <div class="col-md-12">
         
         
          <h2><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>
          <p>{{ post.description | strip_html | truncatewords: 30 }} 


          <a href="{{ post.url | prepend: site.baseurl }}">read more</a></p>
           <div style="text-align: center;color: grey; margin-top:6px;margin-bottom: 42px;"><i class="fa fa-ellipsis-h" aria-hidden="true"></i></div>
          </div>
          
         


          

        
      {% endif %}

      {% endif %}
    {% endfor%}

 </div>


</article>
<br><br>




